<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Episodes</title>
</head>



<body>
    <div id="container" class="border-8 border-b-0">
        <div class="py-8" id="userbox">
            <div class="flex items-center justify-between max-w-6xl px-6 mx-auto text-2xl coloredText">
                <div class="">
                    <p class="font-semibold ">Hello <span class="italic font-bold">
                            <%= user %>.
                        </span>
                    </p>
                </div>
                <div class="">
                    <form type="submit" method="POST" action="/favourites">
                        <button id="favBtn">Favourites</button>
                    </form>

                </div>

            </div>

        </div>

        <section class="max-w-6xl py-12 mx-auto">
            <div class="md:flex">
                <div class="p-6 md:pt-12">
                    <img src="<%=image%>" alt="">
                </div>
                <div class="p-6 md:p-12">
                    <h1 class="text-6xl font-bold anton coloredText ">
                        <%=title %>
                    </h1>
                    <p class="mt-2 text-4xl anton">Course- <span id="course">
                            <%= cno %>
                        </span> Episode- <%= eno%>
                    </p>
                    <div class="md:relative">

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="hidden w-32 h-32 fill-current md:absolute -right-2 -top-12 opacity-40 md:block coloredText"
                            viewBox="0 0 24 24">
                            <path
                                d="M18.722 17.289c.841-1.39 1.278-2.942 1.278-4.289v-2h-4v-6h6v5.391c0 2.936-1.176 5.333-3.278 6.898zm-13.993-.011c.836-1.386 1.271-2.934 1.271-4.278v-2h-4v-6h6v5.391c0 2.93-1.184 5.322-3.271 6.887zm-3.729 3.722c5.252-1.039 8.983-4.905 8.983-10.609v-7.391h-9.983v10h4c0 2.211-1.562 4.932-3.995 5.849l.995 2.151zm14 0c5.252-1.039 9-4.905 9-10.609v-7.391h-9.983v10h3.983c0 2.211-1.563 4.932-3.996 5.849l.996 2.151z" />
                        </svg>
                        <p class="max-w-lg mt-8 text-lg">
                            <%= desc %>
                        </p>

                    </div>
                    <div class="flex items-center justify-center">
                        <audio src="<%=audiosrc%>" controls class="w-full mt-4">

                        </audio>
                        <form action="/like" method="post">
                            <button type="submit" id="likes"> <svg xmlns="http://www.w3.org/2000/svg"
                                    class="w-12 h-12 text-pink-600 focus:fill-current" id="likebtn" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                </svg>
                            </button>
                        </form>

                    </div>

                </div>

            </div>

        </section>
        <section class="flex py-12 mx-auto space-x-4 ">
            <div class="flex mx-auto space-x-4">
                <form action="/listenprev" method="POST">
                    <button type="submit" class="" id="prevbtn">
                        Previous
                    </button>
                </form>
                <form action="/listen" method="POST">
                    <button type="submit" class="" id="nextbtn">
                        Next
                    </button>
                </form>
            </div>

        </section>


        <script>
            var courseno = document.getElementById("course")
            var slate = document.getElementById('container')
            var userbox = document.getElementById("userbox")
            var coloredTexts = document.getElementsByClassName('coloredText')
            var next = document.getElementById("nextbtn")
            var prev = document.getElementById("prevbtn")
            var favBtn = document.getElementById("favBtn")

            if (courseno.textContent == 1) {
                slate.classList.add('border-yellow-400')
                userbox.classList.add('bg-yellow-100')
                next.className = " border-yellow-400 text-xl coloredText border w-40 py-4 rounded-lg anton transition hover:bg-yellow-400 hover:text-white delay-50"
                prev.className = "text-xl text-white border-2  border-yellow-400  px-12 py-4 transition hover:bg-white hover:text-yellow-400  rounded-lg anton bg-yellow-400 "
                favBtn.className = "font-semibold border-yellow-400 text-xl coloredText border w-40 py-4 rounded-lg  transition hover:bg-yellow-400 hover:text-white delay-50"
                for (var i = 0; i < coloredTexts.length; i++) {
                    coloredTexts[i].classList.add('text-yellow-400')
                }
            } else if (courseno.textContent == 2) {
                slate.classList.add('border-pink-400')
                userbox.classList.add('bg-pink-200')
                next.className = " border-pink-600 text-xl coloredText border w-40 py-4 rounded-lg  anton transition hover:bg-pink-600 hover:text-white delay-50"
                prev.className = "text-xl text-white border-2  border-pink-600 rounded-lg  px-12 py-4 transition hover:bg-white hover:text-pink-600  anton bg-pink-600 text-white"
                favBtn.className = "font-semibold border-pink-400 text-xl coloredText border w-40 py-4 rounded-lg  transition hover:bg-pink-400 hover:text-white delay-50"
                for (var i = 0; i < coloredTexts.length; i++) {
                    coloredTexts[i].classList.add('text-pink-600')
                }

            } else if (courseno.textContent == 3) {
                slate.classList.add('border-indigo-400')
                userbox.classList.add('bg-indigo-200')
                next.className = " border-indigo-600 text-xl coloredText border w-40 py-4 rounded-lg anton transition hover:bg-indigo-600 hover:text-white delay-50"
                prev.className = "text-xl text-white border-2  border-indigo-600  px-12 py-4 transition hover:bg-white hover:text-indigo-600  rounded-lg anton bg-indigo-600 text-white"
                favBtn.className = "font-semibold border-indigo-400 text-xl coloredText border w-40 py-4 rounded-lg  transition hover:bg-indigo-400 hover:text-white delay-50"
                for (var i = 0; i < coloredTexts.length; i++) {
                    coloredTexts[i].classList.add('text-indigo-600')
                }

            } else if (courseno.textContent == 4) {
                slate.classList.add('border-green-400')
                userbox.classList.add('bg-green-200')
                next.className = " border-green-600 text-xl coloredText border w-40 py-4 rounded-lg anton transition hover:bg-green-600 hover:text-white delay-50"
                prev.className = "text-xl text-white border-2  border-green-600  px-12 py-4 transition hover:bg-white hover:text-green-600  rounded-lg anton bg-green-600 text-white"
                favBtn.className = "font-semibold border-green-400 text-xl coloredText border w-40 py-4 rounded-lg  transition hover:bg-green-400 hover:text-white delay-50"
                for (var i = 0; i < coloredTexts.length; i++) {
                    coloredTexts[i].classList.add('text-green-600')
                }

            } else if (courseno.textContent == 5) {
                slate.classList.add('border-blue-400')
                userbox.classList.add('bg-blue-200')
                next.className = " border-blue-600 text-xl coloredText border w-40 py-4 rounded-lg anton transition hover:bg-blue-600 hover:text-white delay-50"
                prev.className = "text-xl text-white border-2  border-blue-600  px-12 py-4 transition hover:bg-white hover:text-blue-600  rounded-lg anton bg-blue-600 text-white"
                favBtn.className = "font-semibold border-blue-400 text-xl coloredText border w-40 py-4 rounded-lg  transition hover:bg-blue-400 hover:text-white delay-50"
                for (var i = 0; i < coloredTexts.length; i++) {
                    coloredTexts[i].classList.add('text-blue-600')
                }

            } else if (courseno.textContent == 6) {
                slate.classList.add('border-red-400')
                userbox.classList.add('bg-red-200')
                next.className = " border-red-600 text-xl coloredText border w-40 py-4 rounded-lg anton transition hover:bg-red-600 hover:text-white delay-50"
                prev.className = "text-xl text-white border-2  border-red-600  px-12 py-4 transition hover:bg-white hover:text-red-600  rounded-lg anton bg-red-600 text-white"
                favBtn.className = "font-semibold border-red-400 text-xl coloredText border w-40 py-4 rounded-lg  transition hover:bg-red-400 hover:text-white delay-50"
                for (var i = 0; i < coloredTexts.length; i++) {
                    coloredTexts[i].classList.add('text-red-600')
                }
            }
            const likes = document.getElementById('likes');
            likes.addEventListener('click', function () {
                document.getElementById('likebtn').classList.add('fill-current')
            })

        </script>
    </div>
</body>

</html>
